* {
  margin: 0;
  padding: 0;
}
html,
body,
#app,
.app-container {
  height: 100%;
}

@import "@/components/style.scss";

.app-container {
  box-sizing: border-box;
  text-align: center;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 50px 0 0;

  .is-title {
    margin-bottom: 10px;
  }

  .is-control {
    margin-bottom: 50px;
    > input {
      width: 100%;
    }
  }

  .is-component {
    border: 1px solid #ccc;
    width: 320px;
    height: 320px;
    margin: 0 auto;
  }
}
